<div class="chat-container">
  <div class="discussion-container-fluid discussion-section">
    <div class="discussion-container-fluid">
      <div class="message left">
        <div class="message-content">
          Hey, je viens de découvrir ça www.skyestate.fr
        </div>
      </div>
      <div class="message right">
        <div class="message-content">
          Trop bien, le concept à l’air cool
        </div>
      </div>
      <div class="message right">
        <div class="message-content">
          Petite question, tout est compris dans le prix ?
        </div>
      </div>
      <div class="message left">
        <div class="message-content">
          Mais ouiiiiiiiiiiiiii regarde !!
        </div>
      </div>
    </div>
  </div>
</div>
