<footer class="app-footer">
  <div class="container py-3">
    <div class="d-flex align-items-center justify-content-between">
      <!-- Section Logo et Liens -->
      <div class="d-flex align-items-center">
        <!-- <img src="assets/images/logo.png" alt="Sky Estate Logo" class="footer-logo me-3"> -->
        <ul class="footer-links list-unstyled d-flex mb-0">
          <li class="me-3"><a href="/about">À propos</a></li>
          <li class="me-3"><a href="/fonctionnement">Fonctionnement du site</a></li>
          <li class="me-3"><a href="/mentions-legales">Mentions légales</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>

      <!-- Copyright -->
      <p class="mb-0">&copy; 2024 Sky Estate. Tous droits réservés.</p>
    </div>
  </div>
</footer>
