/* General Styles */
/* Général */
.app-footer {
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
  font-size: 0.875rem;
}

.app-footer .container {
  max-width: 1140px;
  margin: auto;
}

/* Liens à gauche */
.app-footer .footer-left .footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.app-footer .footer-left .footer-links li a {
  color: #343a40;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.app-footer .footer-left .footer-links li a:hover {
  color: #007bff;
}

.app-footer .footer-left p {
  color: #6c757d;
  margin-top: 0.5rem;
}

/* Icônes à droite */
.app-footer .footer-right .footer-icons {
  list-style: none;
  padding: 0;
  display: flex;
}

.app-footer .footer-right .footer-icons li img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.app-footer .footer-right .footer-icons li img:hover {
  transform: scale(1.2);
}






/* Responsive pour mobile */
@media (max-width: 768px) {
  /* Conteneur principal */
  .app-footer .d-flex {
    display: flex; /* Active le modèle flexbox */
    flex-wrap: nowrap; /* Garde les éléments sur une seule ligne */
    justify-content: space-between; /* Texte à gauche et icônes à droite */
    align-items: center; /* Centre les éléments verticalement */
  }

  /* Liens à gauche */
  .app-footer ul.footer-links {
    display: flex; /* Aligne les liens horizontalement */
    justify-content: flex-start; /* Alignement à gauche */
    padding: 0;
    margin: 0;
    list-style: none; /* Supprime les puces */
  }

  .app-footer ul.footer-links li {
    margin-right: 0.2rem; /* Espacement entre les liens */
  }

  .app-footer ul.footer-links li:last-child {
    margin-right: 0; /* Supprime l'espacement après le dernier lien */
  }

  /* Icônes des réseaux à droite */
  .app-footer ul.footer-icons {
    display: flex; /* Aligne les icônes horizontalement */
    justify-content: flex-end; /* Positionne les icônes à droite */
    padding: 0;
    margin: 0;
    list-style: none; /* Supprime les puces */
  }

  .app-footer ul.footer-icons li {
    margin-left: 0.5rem; /* Ajoute un espacement entre les icônes */
  }

  /* Réduction des icônes pour mobile */
  .app-footer ul.footer-icons li img {
    width: 10px;
    height: 10px;
  }

  /* Texte de copyright */
  .app-footer p {
    font-size: 0.75rem; /* Réduit la taille du texte sur mobile */
    margin: 0; /* Supprime les marges */
  }
}


