<section>
    <div class="container my-4">
      <h3 class="text-left mb-4">
        Destinations recommandées pour les logements que vous pouvez apprécier
      </h3>
      <div class="horizontal-scroll-container d-flex overflow-auto">
        <div class="card" *ngFor="let annonce of annonces">
          <img [src]="getImageUrl(annonce.image)" [alt]="annonce.title" class="card-img-top" />

          <div class="card-body">
            <h5 class="card-title">{{ annonce.title }}</h5>
            <span class="city">{{ annonce.city }}</span>
          </div>
          <div class="card-footer d-flex justify-content-between align-items-center">
            <span class="text-muted">{{ annonce.price }} €</span>
            <button class="btn btn-primary" [routerLink]="'/annonces/' + annonce.id">
              Réserver
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  