<header id="main-header">
    <div class="hero-section">
      <div class="container">
        <div class="row align-items-center hero-row">
          <!-- Texte côté gauche -->
          <div class="col-md-6 hero-text-section">
            <h1 class="hero-text">
              Trouvez l'espace qui vous correspond à
              <span class="text-primary" id="dynamic-city">{{ currentCity }}</span>
            </h1>
            <p class="hero-p">
              Découvrez des logements adaptés aux jeunes professionnels dans toutes les villes de France avec Sky Estate.
            </p>
        
            <!-- Section Stats -->
            <div class="stats-section mt-4">
              <div class="row">
                <div class="col-4 text-center highlighte-stat stat-relations">
                  <strong class="stat-value">+6.000</strong>
                  <p class="stat-label">Mises en relations par jour</p>
                </div>
                <div class="col-4 text-center highlighted-stat stat-locations">
                  <strong class="stat-value">+10'</strong>
                  <p class="stat-label">1 location toutes les 10 minutes</p>
                </div>
                <div class="col-4 text-center highlighte-stat stat-users">
                  <strong class="stat-value">+2.50.745</strong>
                  <p class="stat-label">particuliers ont déjà utilisé Co-living</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Image côté droit -->
          <div class="col-md-6 hero-image">
            <img src="assets/images/headerimage.jfif" alt="Image" class="custom-image img-fluid">
          </div>
        </div>
      </div>
    </div>
  </header>
  
