/* Style du formulaire */
/* Ajuste la marge pour correspondre à la hauteur de la navbar */

.login-form {
    max-width: 400px;
    margin: 100px auto 0; /* Centre horizontalement et ajoute un espace au-dessus pour qu'il soit sous la navbar */
    padding: 30px; /* Ajoute plus d'espace interne */
    margin-top: 215px;
    border-radius: none;
    margin-bottom: 95px; /* Ajoute un espace de 50px sous le formulaire */
    background-color: #f8f9fa; /* Fond clair */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre pour un effet moderne */
  }
  
  .alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050; /* Plus grand que la navbar */
    width: 80%; /* Ajuste selon tes besoins */
    max-width: 500px; /* Pour éviter qu'il soit trop large */
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    font-size: 18px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .alert-danger {
    background-color: #dc3545;
    color: white;
  }
  
  /* Labels du formulaire */
  .login-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  /* Champs de saisie */
  .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc; /* Supprime la bordure arrondie */
    border-radius: 0; /* Pas de coins arrondis */
  }
  
  /* Bouton de connexion */
  .login-form button {
    background-color: #2076C5; /* Bleu */
    color: white; /* Texte blanc */
    font-weight: bold;
    padding: 10px;
    
    border: none; /* Supprime les bordures */
    border-radius: 0; /* Pas de coins arrondis */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transition pour effet hover */
  }
  
  /* Effet hover sur le bouton */
  .login-form button:hover {
    background-color: #0056b3; /* Bleu foncé */
  }
  