/* Style global */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
  }
  
  .register-form {
    max-width: 800px;
    margin: 100px auto 0; /* Centre horizontalement et ajoute un espace au-dessus pour qu'il soit sous la navbar */
    padding: 30px; /* Ajoute plus d'espace interne */
    margin-top: 215px;
    margin-bottom: 95px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .register-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 14px;
    color: #333;
  }
  
  .register-form input,
  .register-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    font-size: 14px;
  }
  
  .register-form button {
    width: 25%;
    padding: 10px;
    background-color: #2076C5;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .register-form button:hover {
    background-color: #0056b3;
  }
  
  /* Alignement des champs sur une seule ligne */
  .form-row {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 15px;
  }
  
  .form-group {
    flex: 1;
  }
  
  .form-group label {
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
  }
  