<div class="container">
    <div class="left">
        <h4>Sky Estate – Qui sommes-nous ?</h4>
        <p>
            Sky Estate est une plateforme innovante de co-living créée par
            Sarah et Alex pour simplifier la vie des jeunes professionnels.
            Basée en France, elle permet de trouver et de gérer facilement
            des espaces de vie partagés, combinant confort, communauté et 
            flexibilité. Notre mission est de rendre le logement plus 
            accessible et adapté aux besoins des travailleurs modernes.
        </p>
        <div class="button-container">
            <button>Voir plus</button>
        </div>
    </div>
    <div class="right">
        <div class="image-container">
            <img src="assets/images/imageBatiment (2).png" alt="Sky Estate" />
        </div>
        <div class="custom-square"></div> <!-- Carré ajouté ici -->
    </div>
</div>
