<div class="container my-4">
    <h3 class="text-left mb-4">
      Cherchez votre prochain chez-vous avec Sky Estate
    </h3>
  
    <div class="annonces-grid">
      <div class="annonce-card" *ngFor="let annonce of annonces">
        <img [src]="annonce.image" alt="Image de l'annonce" />
        <h3>{{ annonce.title }}</h3>
        <p>{{ annonce.description }}</p>
        <p class="location-line">
          <span>{{ annonce.location }}</span>, 
          <span>{{ annonce.city }}</span>, 
          <span>{{ annonce.postalCode }}</span>
        </p>
        <div class="price-button-container">
          <p class="price">{{ annonce.price | currency:'EUR' }}</p>
          <button class="reserve-button" [routerLink]="'/annonces/' + annonce.id">
            Réserver
          </button>
        </div>
      </div>
    </div>
  </div>
  