<div class="container mt-5 section-container">
    <div class="text-left mb-4">
        <h3 class="section-title">Pourquoi Nous Faire Confiance ?</h3>
        <p class="section-description">
            Chez nous, votre satisfaction et votre confort sont nos priorités.
        </p>
    </div>
    <div class="d-flex justify-content-between align-items-stretch flex-wrap">
        <div class="card custom-card">
            <div class="card-body text-center">
                <div class="icon-style">
                    <img src="assets/images/Communication.png" alt="Icon Communication">
                </div>
                <h6 class="card-title">Communication</h6>
                <p class="card-text">Nous garantissons une communication transparente pour vous offrir une expérience en toute sérénité.</p>
            </div>
        </div>
        <div class="card custom-card special-card">
            <div class="card-body text-center">
                <div class="icon-style">
                    <img src="assets/images/security.png" alt="Icon Sécurité">
                </div>
                <h6 class="card-title">Sécurité Assurée</h6>
                <p class="card-text">Tous nos espaces respectent des normes strictes pour garantir votre confort et votre bien-être au quotidien.</p>
            </div>
        </div>
        <div class="card custom-card">
            <div class="card-body text-center">
                <div class="icon-style">
                    <img src="assets/images/community.png" alt="Icon Communauté">
                </div>
                <h6 class="card-title">Communauté</h6>
                <p class="card-text">Rejoignez une communauté qui valorise l’échange et la solidarité. Découvrez une expérience unique et enrichissante.</p>
            </div>
        </div>
        <div class="card custom-card">
            <div class="card-body text-center">
                <div class="icon-style">
                    <img src="assets/images/freecancellation.png" alt="Icon Flexibilité">
                </div>
                <h6 class="card-title">Flexibilité & Simplicité</h6>
                <p class="card-text">Profitez d'options flexibles adaptées à votre style de vie. Réservez facilement et gérez votre séjour en toute simplicité.</p>
            </div>
        </div>
    </div>
</div>
